[ req ]
default_bits           = 4096
days                   = 9999
distinguished_name     = req_distinguished_name
attributes             = req_attributes
prompt                 = no
x509_extensions        = v3_ca

[ req_distinguished_name ]
C                      = US
ST                     = CA
L                      = SF
O                      = Funnel
OU                     = Funnel
CN                     = funnel.test
emailAddress           = fedor@funnel.test

[ req_attributes ]

[ v3_ca ]
basicConstraints = CA:TRUE
